examples/reconstruction-tree.png

test.log

logs

node_modules

*.DS_Store

django/GWS/.env

docker/tmp/

python/.ipynb_checkpoints/

matlab/cs.geojson

python/output.gpmlz

python/output.gpml

django/GWS/tree.gmt.gplates.xml

*.gmt

django/GWS/tree.gmt

*.pyc

examples/output/

examples/.env


# Local Netlify folder
.netlify
