node_modules

*.DS_Store

django/GWS/.env

docker/tmp/

python/.ipynb_checkpoints/

matlab/cs.geojson

python/output.gpmlz

python/output.gpml

django/GWS/tree.gmt.gplates.xml

*.gmt

django/GWS/tree.gmt

*.pyc

django/GWS/DATA/tmp/*

examples/output/

examples/.env

