DEBUG=false
SECRET_KEY=dfjefj4ejfdifja834uafejd@##$$%%%(this key can be any ramdon string)
DB_NAME=gplates
DB_USER=gplates
DB_HOST=gws-postgis
DB_PORT=5432
DB_PASSWORD=gplates
THROTTLE=false
DEFAULT_THROTTLE_ANON_RATE=1000/second
DEFAULT_THROTTLE_USER_RATE=10000/second
BING_KEY=this is a bing key from microsoft
CACHE=redis
